/* RESET CSS */
* {
    box-sizing: border-box;
}

/* usunięcie marginesów */
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

/* usunięcie kropek, które domyślnie się pojawiły jako typ listy */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* UKRYCIE TEKSTU DLA STANDARDOWEGO UŻYTKOWNIKA */
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* SEKCJA POMOCNICZA- ABY ZWIZUALIZOWAĆ GŁÓWNE BLOKI STRONY */
/* .page-header {
    background-color: #ffb1b1;
}

.page-content {
    background-color: #b0ffb0;
}

.page-footer {
    background-color: #7ba3ff;
}

.content-section {
    background-color: #ca9aca;
}
.content-section:nth-child(odd) {
    background-color: #e69fe6;
} */

/* USTAWIANIE ELEMENTÓW, ABY JEŹDZIŁY Z NAMI */
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

/* USTAWIENIE GŁÓWNEJ TREŚCI */
.page-content {
    margin-left: 220px;
    padding: 0 50px;
    text-align: right;
}

/* ABY KAŻDA SEKCJA STRONY WYPEŁNIAŁA MINIMUM CAŁĄ WYSOKOŚĆ OKNA PRZEGLĄDARKI */
.content-section {
    min-height: 100vh; /* vh = 1% wysokości okna przeglądarki */
}

/* STRUKTURA STRONY */
/* ustalenie stałej wysokości nagłówka h2 od razu dla wszystkich sekcji */
.content-section {
    position: relative;
}

.content-section__header {
    position: absolute;
    top: 10vh;
    right: 0px;
}

/* 1 SEKCJA - BAND MEMBERS */ 
.band-members {
    height: 100%;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.band-members__item {
    align-self: center;
    justify-self: center;
    text-align: left;
} 

/* 2 SEKCJA- ABOUT */ 
.about-section img {
    position: absolute;
    width: 850px;
    top: 50%;
    transform: translate(-100%, -50%);
    border-top: 5px solid #EC008C;
}

.about-section__desc {
    position: absolute;
    background-color: #25072E;
    width: 380px;
    height: 360px;
    border-bottom: 5px solid #EC008C;
    padding: 35px 30px 50px 35px;
    text-align: left;
    bottom: 20px;
    right: 750px;
}

/* 3 SEKCJA- CONCERTS */ 
.concerts__image {
    width: 45vh;
    border-bottom: 5px solid  #EC008C;
}

.concerts {
    position: absolute;
    right: 0%;
    display: grid;
    grid-template-columns: 45vh 45vh;
    grid-template-rows: 1fr 1fr;
    top: 20vh;
    column-gap: 60px;
    row-gap: 40px;
}

.concerts__info {
    display: grid; 
    grid-template-columns: 25vh 20vh;
    grid-template-rows: 20px 20px;
}

.concerts__date {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
}

.concerts__location {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
}

.concerts__info .button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
}  

/* 4 SEKCJA- VIDEO */ 
#video iframe {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    border-top: 5px solid #EC008C;
}

/* 5 SEKCJA- PHOTOS */ 
.gallery .gallery__image {
    width: 35vh;
    border-top: 5px solid #EC008C;
}

.gallery {
    position: absolute;
    display: grid; 
    grid-template-columns: repeat(3, 35vh);
    grid-template-rows: repeat(3, 1fr);
    right: 0%;
    row-gap: 20px;
    column-gap: 20px;
    top: 20vh;
}

/* 6 SEKCJA- CONTACT */
#contact {
    height: 100vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 30px 1fr 30px;
    grid-template-rows: 20vh 1fr 30px 1fr 1fr;
}

#contact .gallery__image {
    width: 500px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#contact address {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    text-align: left;
    align-self: center;
    justify-self: center;
}

#contact form {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    text-align: left;
}

/* STYLE */
body {
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #25072E;
}

nav a {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 6.7px;
    line-height: 2.5;
    text-transform: uppercase;
    text-decoration: none;
    color: #EC008C;
}

h2 {
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #EC008C;
}

.band-members__name {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #DBD8FB;
}

.band-members__desc {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 3.5px;
    color: #CCC8FF;
    opacity: 0.5;
}

.about-section__desc-header {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 3;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #DBD8FB;
}

.about-section__desc-details {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #CCC8FF;
    opacity: 0.8;
}

.concerts__date {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #DBD8FB;
}

.concerts__location {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 3.5px;
    color: #CCC8FF;
    opacity: 0.5;
}

#contact address {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #CCC8FF;
    opacity: 0.8;
}

.form__label {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 2.5;
    letter-spacing: 1.5px;
    color: #CCC8FF;
    opacity: 0.8;
}

.form__input {
    width: 300px;
    height: 30px;
    background-color: rgba(204, 200, 255, 0.1);
    border-radius: 5px;
    border: 0;
}

.button {
    width: 150px;
    height: 30px;
    background-color: rgba(204, 200, 255, 0.1);
    border-radius: 5px;
    border: 0;
    font-family: 'Open Sans', semi-bold;
    font-size: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #CCC8FF;
}

.social-links__logo {
    height: 35px;
    padding: 5px 5px 5px;
}